
<div class="content mt-4 mb-1">
  <div class="follow-as" fxLayout="column" fxLayoutAlign="center center">
    <div>Follow Us On</div>
    <nav>
      <ul fxLayout fxLayoutGap="10px" fxLayoutAlign="center center" class="p-0">
        <li class="nav-item"><a href="#" class="nav-link">F</a></li>
        <li class="nav-item"><a href="#" class="nav-link">I</a></li>
        <li class="nav-item"><a href="#" class="nav-link">T</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Y</a></li>
        <li class="nav-item"><a href="#" class="nav-link">L</a></li>
        <li class="nav-item"><a href="#" class="nav-link">G</a></li>
      </ul>
    </nav>
  </div>
  <div class="mb-0">Copyright 2023 - Create By said Hasnaoui</div>
</div>
