<div>
  <h1>{{ 'NAV-TITLE.SKILLS.SKILLS' | translate }}</h1>
  <div class="content" fxLayout.lt-md="column"  fxLayoutAlign.gt-sm="center"  fxLayoutAlign.gt-md="center stretch" fxLayoutGap="20px">
    <mat-card fxFlex.gt-sm="45.5">
      <h2>Skills</h2>
      <div class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.SKILLS.springBoot' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.SKILLS.angular' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>
          {{ 'NAV-TITLE.SKILLS.java2E' | translate }} |
          {{ 'NAV-TITLE.SKILLS.java' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>
          {{ 'NAV-TITLE.SKILLS.html' | translate }} |
          {{ 'NAV-TITLE.SKILLS.css' | translate }} |
          {{ 'NAV-TITLE.SKILLS.js' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="77"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>
          {{ 'NAV-TITLE.SKILLS.sql' | translate }} |
          {{ 'NAV-TITLE.SKILLS.oracle' | translate }} |
          {{ 'NAV-TITLE.SKILLS.mongoDb' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="45.5">
      <h2>Languages</h2>
      <div class="">
        <mat-card-subtitle>
          {{ 'languages.fr.name' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>
          {{ 'languages.en.name' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
      </div>
      <div class="">
        <mat-card-subtitle>
          {{ 'languages.ar.name' | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
