<div fxLayout.gt-md="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column" class="p-5">
  <div class="title" fxLayout="column" fxFlex="50"
       fxLayoutAlign="center center">
    <div class="text-capitalize">Hasnaoui</div>
    <h1>Bonjour, je suis Said</h1>
    <strong class="mb-3">Développeur full stack angular/spring Boot</strong>
    <p class="text-center">
      Mon intérêt principal est le développement Web, à la fois front-end et back-end. <br>
      L'industrie évolue rapidement et progresse constamment. <br>
      C'est celui qui nécessite une formation constante tout au long de votre carrière. <br>
      C'est excitant pour moi car je sais qu'il y aura toujours de nouvelles choses à apprendre et de nouveaux défis à relever.
    </p>
    <div class="reseaux-sociaux">
      <nav>
        <ul class="d-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img [src]="flag" alt="facebook">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../../assets/images/media/reseaux/facebook.png" alt="instagram">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../../assets/images/media/reseaux/facebook.png" alt="twitter">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../../assets/images/media/reseaux/facebook.png" alt="github">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="./../../../ assets/media/reseaux/facebook.png" alt="linkedIn">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="image" fxFlex="50">
    <div fxLayoutAlign="end center">
      <img class="rounded"
           style="width: 400px"
           [src]="image_profile"
           alt="Profile">
    </div>
  </div>
</div>



