<div>
  <h1>{{ 'NAV-TITLE.ABOUT.ABOUT' | translate }}</h1>
  <div class="content" fxLayout.lt-md="column"  fxLayoutAlign.gt-sm="center"  fxLayoutAlign.gt-md="center stretch" fxLayoutGap="20px">
    <mat-card fxFlex.gt-sm="30">
      <mat-card-title>{{ 'NAV-TITLE.ABOUT.WHO-I-M' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'NAV-TITLE.ABOUT.post' | translate }}</mat-card-subtitle>
      <div class="">
        <p>{{ 'NAV-TITLE.ABOUT.desc' | translate }}</p>
        <button mat-flat-button color="primary">
          <mat-icon>cloud_download</mat-icon>
          <span>{{ 'NAV-TITLE.ABOUT.BTN' | translate }}</span>
        </button>
      </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="30">
      <mat-card-title>{{ 'NAV-TITLE.ABOUT.Personal' | translate }}</mat-card-title>
      <div class="row">
        <div class="d-flex">
          <strong class="">{{ 'NAV-TITLE.ABOUT.Birthdate' | translate }}</strong>
          <div class="col-6">{{ 'INFORMATION.Birthdate' | translate }}</div>
        </div>
        <div class="d-flex">
          <strong class="">{{ 'NAV-TITLE.ABOUT.Email' | translate }}</strong>
          <div class="col-6">{{ 'INFORMATION.Email' | translate }}</div>
        </div>
        <div class="d-flex">
          <strong class="">{{ 'NAV-TITLE.ABOUT.Phone' | translate }}</strong>
          <div class="col-6">{{ 'INFORMATION.Phone' | translate }}</div>
        </div>
        <div class="d-flex">
          <strong class="">{{ 'NAV-TITLE.ABOUT.Skype' | translate }}</strong>
          <div class="col-6">{{ 'INFORMATION.Skype' | translate }}</div>
        </div>
        <div class="d-flex">
          <strong class="">{{ 'NAV-TITLE.ABOUT.Address' | translate }}</strong>
          <div class="col-6">{{ 'INFORMATION.Address' | translate }}</div>
        </div>
      </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="30">
      <mat-card-title>{{ 'NAV-TITLE.ABOUT.expertise' | translate }}</mat-card-title>
      <div>
        <mat-card-subtitle>{{ 'NAV-TITLE.ABOUT.webDeveloper' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ 'NAV-TITLE.ABOUT.descMobileDeveloper' | translate }}</p>
          <p>lire Plus <a href="#">...</a></p>
        </mat-card-content>
      </div>
      <div>
        <mat-card-subtitle>{{ 'NAV-TITLE.ABOUT.mobileDeveloper' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ 'NAV-TITLE.ABOUT.descMobileDeveloper' | translate }}</p>
          <p>lire Plus <a href="#">...</a></p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
