<div class="">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list
        (sidenavClose)="sidenav.close()"
        (changeMode)="onChangeMode($event)"
        (changeLang)="changeLang($event)"
        [lang]="lang"
        [mode]="mode"
      >
      </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header
        (sidenavToggle)="sidenav.toggle()"
        (changeMode)="onChangeMode($event)"
        (changeLang)="changeLang($event)"
        [lang]="lang"
        [mode]="mode"
      >
      </app-header>
      <main>

        <app-heros></app-heros>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur exercitationem quis cumque amet mollitia praesentium facilis enim iste quam nihil placeat rem maiores atque, unde totam ex a at consequatur.
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
