<div>
  <h1>Projects</h1>
  <div class="content mx-4 px-2" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
    <mat-card>
      <mat-card-title>Smart Transformation</mat-card-title>
      <mat-card-subtitle>
        <a href="#" class="nav-link text-decoration-none">Application web</a>
      </mat-card-subtitle>
      <mat-card-title-group>
        <img mat-card-md-image
             src="https://www.novojob.com/togo/attachments/company_logo/logo_2105411.jpg"
             >
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
          from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
          originally bred for hunting.
        </mat-card-content>
      </mat-card-title-group>
    </mat-card>
    <mat-card>
      <mat-card-title>Auto ecole</mat-card-title>
      <mat-card-subtitle>Site web</mat-card-subtitle>
      <mat-card-title-group>
        <img mat-card-md-image
             src="https://www.novojob.com/togo/attachments/company_logo/logo_2105411.jpg"
             >
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
          from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
          originally bred for hunting.
        </mat-card-content>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>

