<mat-toolbar color="primary" class="justify-content-between">
  <div class="" fxHide.gt-xs>
    <button mat-icon-button>Menu</button>
  </div>
  <div class="">
    <a class="text-decoration-none" href="/">Aouner-account</a>
  </div>
  <div class="d-flex justify-content-center align-content-center">
    <ul class="d-flex justify-content-between align-content-center gap-4">
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">About</a>
      </li>
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">Resume</a>
      </li>
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">Skills</a>
      </li>
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-link">
        <a class="nav-item text-decoration-none" routerLink="/home" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
