<div class="">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list
        (sidenavClose)="sidenav.close()"
        (changeMode)="onChangeMode($event)"
        (changeLang)="changeLang($event)"
        [lang]="lang"
        [mode]="mode"
      >
      </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header
        (sidenavToggle)="sidenav.toggle()"
        (changeMode)="onChangeMode($event)"
        (changeLang)="changeLang($event)"
        [lang]="lang"
        [mode]="mode"
      >
      </app-header>
      <main class="mx-3 p-4" fxLayout="column" fxLayoutGap="30px">

        <app-heroes></app-heroes>
        <app-about></app-about>
        <app-resume></app-resume>
        <app-skill></app-skill>
        <app-projet></app-projet>
        <app-contact></app-contact>

      </main>
      <footer>
        <mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
          <app-footer></app-footer>
        </mat-toolbar>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
