<div>
  <h1>Resume</h1>
  <div class="content" fxLayout.lt-md="column"  fxLayoutAlign.gt-sm="center"  fxLayoutAlign.gt-md="center stretch" fxLayoutGap="20px">
    <mat-card fxFlex.gt-sm="45.5">
      <mat-card-title>{{ 'NAV-TITLE.RESUME.experience' | translate }}</mat-card-title>
      <section class="mt-4">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.present.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.present.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.present.description' | translate }}</p>
        </mat-card-content>
      </section>
      <section class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.stageSmart.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.stageSmart.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.stageSmart.description' | translate }}</p>
        </mat-card-content>
      </section>
      <section class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.stageIfrozet.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.stageIfrozet.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.stageIfrozet.description' | translate }}</p>
        </mat-card-content>
      </section>
    </mat-card>

    <mat-card fxFlex.gt-sm="45.5">
      <mat-card-title>{{ 'NAV-TITLE.RESUME.edu' | translate }}</mat-card-title>
      <section class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.licence.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.licence.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.licence.description' | translate }}</p>
        </mat-card-content>
      </section>
      <section class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.Deust.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.Deust.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.Deust.description' | translate }}</p>
        </mat-card-content>
      </section>
      <section class="">
        <mat-card-subtitle>{{ 'NAV-TITLE.RESUME.Bac.date' | translate }}</mat-card-subtitle>
        <mat-card-content>
          <strong>{{ 'NAV-TITLE.RESUME.Bac.branch' | translate }}</strong>
          <p>{{ 'NAV-TITLE.RESUME.Bac.description' | translate }}</p>
        </mat-card-content>
      </section>
    </mat-card>

  </div>
</div>
